__history
/tests/Debug/Win32/*.exe
*.dcu
*.local
*.identcache
*.res
*.tvsconfig
/tests/Debug/Win32
/source/*.bak
/tests/dunit.ini
/tests/*.~dsk
*.map
*.exe
*.dsv
*.dsk
*.drc
/tests/*.bak
*.mes
*.skincfg
